<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="/">
     &#127969; Home
  </a>
</li>
<li>
  <a href="/categories/">
     &#9997; Blog
  </a>
</li>
<li>
  <a href="/about/">
     &#129304; About
  </a>
</li>
<li>
  <a href="/talks-publications/">
     &#128226; Talks & Publications
  </a>
</li>
<li>
  <a href="/open-source/">
     &#128190; Open Source
  </a>
</li>
<li>
  <a href="https://rtask.thinkr.fr/remote-trainings-and-certification/learning-shiny-online-july/">
     &#127891; Learning Shiny for Production
  </a>
</li>
<li>
  <a href="https://engineering-shiny.org/">
     &#128217; Engineering Shiny
  </a>
</li>
<li>
  <a href="/search/">
     &#128270; Search
  </a>
</li>