---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$paragraph-indent: true;

@import url('https://fonts.googleapis.com/css?family=Poppins');
:root{
  --first: #9BADBF;
  --second: #D1D5DE;
  --third: #837569;
  --fourth: #657153;
  --fifth: #8AAA79;
}

body {
      font-family: 'system-ui', sans-serif;
}

ol {
    padding-left: inherit;
}

li.archive__item-title:before {
    font-family: FontAwesome;
    content: "> ";
}

.sidebar p, .sidebar li{
font-family: inherit;
}

.page__footer footer{
    margin-top: 1em;
    padding: 0 1em 1em;
}

.page .page__inner-wrap {
    width: 100%;
}

.archive {
    padding-right: 1em;
}

.page {
    padding-right: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h2 {
  margin-block-start: 0.2em;
}

.author__content a:hover {
    text-decoration: none;
}